body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: red;
    font-size: 75px;
    text-align: center;
}

button {
    background-color: #aaaaaa;
    width: 50%;
    height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #6c6c6c;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

button:active {
    background-color: #555;
}

button:focus {
    outline: none;
}

.coriandoli {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: red;
    animation: fall linear infinite;
    top: -10px;
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    100% {
        transform: translateY(110vh) rotate(360deg);
    }
}